/*******************************************

    General Styles

*******************************************/

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

body a, body a:visited, body a:active {
    text-decoration: none;
    color: white;
}

    body a:hover {
        text-decoration: none;
        color: cadetblue;
    }

.clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.submenu-parent {
    background-color: #0f1724;
}

.rightfloater {
    float: right;
}

/*******************************************

    MasterPage

*******************************************/

.container-fluid {
    padding: 0 !important;
    background-color: #dde9ff;
}

    .container-fluid header {
        background: #293f63; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#293f63, #4d77bc); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#293f63, #4d77bc); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#293f63, #4d77bc); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#293f63, #4d77bc); /* Standard syntax */
        min-height: 100px;
        min-width: 100%;
        box-shadow: 2px 2px 2px #19263d;
    }

    .container-fluid .banner-image {
        width: 100%;
    }

    .container-fluid .navbar {
        border-radius: 0;
        background-color: #1e2e48;
    }

    .container-fluid .navbar-inverse .navbar-toggle {
        border: 0;
    }

        .container-fluid .navbar-inverse .navbar-toggle:focus, .container-fluid .navbar-inverse .navbar-toggle:hover {
            background-color: #0f1724;
        }

    .container-fluid .navbar-inverse .navbar-header .navbar-brand {
        font-size: 22px;
        padding-right: 20px;
        color: white;
    }

    .container-fluid .navbar-inverse .navbar-nav li a {
        padding-bottom: 18px;
    }

        .container-fluid .navbar-inverse .navbar-nav .active a, .container-fluid .navbar-inverse .navbar-nav li a:hover {
            background-color: #0f1724;
        }

    .container-fluid .navbar-inverse .navbar-nav .hover-wrapper .hover-content {
        display: none;
        position: absolute;
        background-color: #0f1724;
        min-width: 160px;
        box-shadow: 2px 2px 3px #0f1724;
        z-index: 1;
    }

        .container-fluid .navbar-inverse .navbar-nav .hover-wrapper .hover-content p {
            padding: 10px 10px 10px;
        }

    .container-fluid .navbar-inverse .navbar-nav .hover-wrapper:hover .hover-content {
        display: block;
    }

    .container-fluid .navbar-inverse .navbar-nav .hover-wrapper:hover a {
        background-color: #0f1724;
    }

    .container-fluid .navbar .navbar-right .lblHeader {
        margin-right: 5px;
    }

    .container-fluid .navbar .navbar-right select {
        margin-right: 50px;
    }

    .container-fluid .navbar .navbar-right li {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .container-fluid .navbar .navbar-right .addMenuToCollapse {
        padding-left: 15px;
        padding-right: 15px;
    }

footer {
    background: #293f63; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4d77bc, #293f63); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4d77bc, #293f63); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4d77bc, #293f63); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4d77bc, #293f63); /* Standard syntax */
    min-height: 100px;
    min-width: 100%;
    border-top: 2px solid black;
}

/*******************************************

    Forum Category screen

*******************************************/

.container-fluid #MainContent .forum-wrapper {
    margin: 0;
}

.container-fluid #MainContent .forum-inner-wrapper {
    box-shadow: 2px 2px 5px #0f1724;
    margin-bottom: 30px;
}

.container-fluid #MainContent .forum-wrapper .ItemContainer {
    padding-left: 0px;
    margin-bottom: 0px;
}

.container-fluid #MainContent .section-heading, .container-fluid #MainContent .post-header {
    background-color: #76b9d5;
}

.container-fluid #MainContent .post-header h2 {
    font-size: 16px;
}

.container-fluid #MainContent .sub-section-heading {
    background-color: #8ac3db;
}

    .container-fluid #MainContent .sub-section-heading h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

.container-fluid #MainContent .forum-row {
    background-color: #293f63;
}

.container-fluid #MainContent .forum-row-alternate {
    background-color: #4b73b4;
}

    .container-fluid #MainContent .forum-row .category-description, .container-fluid #MainContent .forum-row-alternate .category-description,
    .container-fluid #MainContent .forum-row .thread-description, .container-fluid #MainContent .forum-row-alternate .thread-description {
        color: #e6e6e6;
        font-size: 12px;
        font-weight: 100;
    }

    .container-fluid #MainContent .forum-row .category-main, .container-fluid #MainContent .forum-row-alternate .category-main {
        float: left;
        clear: right;
        width: 75%;
    }

    .container-fluid #MainContent .forum-row .thread-main, .container-fluid #MainContent .forum-row-alternate .thread-main {
        float: left;
        clear: right;
        width: 25%;
    }

    .container-fluid #MainContent .forum-row .thread-modified, .container-fluid #MainContent .forum-row-alternate .thread-modified {
        float: right;
        width: 25%;
        height: 100%;
    }

    .container-fluid #MainContent .forum-row .thread-popularity, .container-fluid #MainContent .forum-row-alternate .thread-popularity {
        float: right;
        width: 15%;
        height: 100%;
    }

.container-fluid #MainContent .forum-row .thread-modified {
    background-color: #4b73b4;
}

    .container-fluid #MainContent .forum-row .thread-modified p, .container-fluid #MainContent .forum-row-alternate .thread-modified p,
    .container-fluid #MainContent .forum-row .thread-popularity p, .container-fluid #MainContent .forum-row-alternate .thread-popularity p {
        font-size: 14px;
        margin: 5px;
        padding-bottom: 9px;
    }

.container-fluid #MainContent .forum-row-alternate .thread-modified {
    background-color: #293f63;
}

.container-fluid #MainContent .forum-row .forum-categorymodify, .container-fluid #MainContent .forum-row-alternate .forum-categorymodify {
    color: #e6e6e6;
    font-size: 12px;
    font-weight: 100;
    float: right;
    margin-top: 2px;
    min-width: 200px;
}

.container-fluid #MainContent .post {
    background-color: #293f63;
    margin: 10px 10px;
}

.container-fluid #MainContent .post .post-body h3 {
    font-size: 15px;
}

.container-fluid #MainContent .post .post-body article {

}

.container-fluid #MainContent .post .post-body .left-profile {
    float: left;
}



/*******************************************

    Forum Error

*******************************************/

.container-fluid .forum-error {
    margin: 0 auto;
    background-color: #1e2e48;
    max-width: 500px;
    padding: 0px 10px 10px;
    margin-top: 3%;
    margin-bottom: 5%;
    box-shadow: 2px 2px 5px #0f1724;
}

    .container-fluid .forum-error .error-heading {
        background-color: #76b9d5;
        padding-left: 3px;
        font-size: 14px;
    }
