* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white; 
}

body a, body a:visited, body a:active {
    text-decoration: none;
    color: white;
}

body a:hover {
    text-decoration: none;
    color: cadetblue;
}

.container-fluid {
    padding: 0 !important;
    background-color: #dde9ff;
}

.container-fluid header {
    background: #293f63; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#293f63, #4d77bc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#293f63, #4d77bc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#293f63, #4d77bc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#293f63, #4d77bc); /* Standard syntax */
    min-height: 100px;
    min-width: 100%;
    box-shadow: 2px 2px 2px #19263d;
}

.container-fluid .navbar {
    border-radius: 0;
    background-color: #1e2e48;
}

.container-fluid .navbar-inverse .navbar-nav .active a, .container-fluid .navbar-inverse .navbar-nav li a:hover {
    background-color: #0f1724;
}

.container-fluid .navbar .navbar-right .lblHeader {
    margin-right: 5px;
}

.container-fluid .navbar .navbar-right select {
    margin-right: 50px;
}

.container-fluid .navbar .navbar-right li {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    background: #293f63; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4d77bc, #293f63); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4d77bc, #293f63); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4d77bc, #293f63); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4d77bc, #293f63); /* Standard syntax */
    min-height: 100px;
    min-width: 100%;
    border-top: 2px solid black;
}


